@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Plaster&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Plaster', cursive;
  font-family: 'Raleway', sans-serif; 
*/

/* .container{
  width: 95%;
} */

#logo-container{
  font-family: 'Plaster', cursive;
}

nav {
  position: fixed !important;
  z-index: 999;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 5px -2.5px #000 ;
}

nav ul a {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-toggler, .navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.nav-item {
  text-align: center;
}

.nav-item:hover > .nav-link{
  color: #E9103A !important;
  font-weight: 500;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

#index-banner{
  
  height: calc(100vh );
  display: flex;
}

.svg-container {
  margin-top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.svg-container h1 {
  /* text-shadow: 0px 0px 0 rgb(195,-32,0),
                 1px 1px 0 rgb(168,-59,0),
                 2px 2px 0 rgb(142,-85,0),
                 3px 3px  0 rgb(116,-111,0),
                 4px 4px 3px rgba(51,51,51,0.6),
                 4px 4px 1px rgba(51,51,51,0.5),
                 0px 0px 3px rgba(51,51,51,.2); */
  font-size: 7em;
  letter-spacing: 0.1em;
  font-weight: 700;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Plaster', cursive;
  text-transform: uppercase;
}

.svg-container h1 span {
  /* text-shadow: 0px 0px 0 rgb(178,-72,0),
                 1px 1px 0 rgb(134,-116,0),
                 2px 2px 0 rgb(91,-159,0),
                 3px 3px  0 rgb(48,-202,0),
                 4px 4px 3px rgba(255,0,0,0.6),
                 4px 4px 1px rgba(255,0,0,0.5),
                 0px 0px 3px rgba(255,0,0,.2); */
}

.svg-container h4 {
  color: #fff;
  text-shadow: #333333 2px 2px 2px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

.span-red{
  color: #E9103A;
}

.span-black{
  color: #161616;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.column-2 {
  z-index: -1;
  flex: 50%;
  padding: 10px;
}


#mySidenav a {
  position: absolute; 
  margin-top: 15%;
  right: 3%; 
  transition: 0.3s;
  padding: 4px; 
  width: 40px; 
  height: 40px; 
  text-decoration: none; 
  font-size: 18px; 
  color: white; 
  border-radius: 50%; 
  z-index: 998;
  text-align: center;
}


.action {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.1);
  z-index: 999;
}
.action span {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0000;
  font-size: 2em;
  transition: .3s ease-in-out;
}
.action.sl-active span  {
  transform: rotate(135deg);
}

.action ul {
  position: absolute;
  bottom: 55px;
  right: 0px;
  /* background: #fff; */
  /* min-width: 250px; */
  /* padding: 8px; */
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.action.sl-active ul {
  bottom: 65px;
  opacity: 1;
  visibility: visible;
  transition: .3s;
}
.action ul li {
  list-style:none;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  margin-top: 15px;
  background-color: #fff;
  color: #000;
  transition: all .3s;
}

.action ul li:hover {
  font-weight: 600;
  background-color: rgb(255, 217, 50);
  
}

.action ul li img {
  /* margin-right: 15px; */
  opacity: .5;
  transform: scale(.7);
  transition: 0.3s;
}
.action ul li:hover img {  
  opacity: .8;
  transform: scale(1.0);
}

.mysec-title{
  font-family: 'Plaster', cursive;
  position: relative;
  color: #E9103A;
  font-size: 3em;
}

.mysec-title::after{
    content: "";
    color: #fff;
    position: absolute;
    right: 40%;
    top: 100%;
    left: 40%;
    height: 15px;
    background: linear-gradient(#ff6347,#ff6347) bottom;
    background-size: 100% 3px;
    background-repeat: no-repeat;
}

.mysec-title::before{
  content: "";
  color: #fff;
  position: absolute;
  right: 40%;
  top: 100%;
  left: 40%;
  height: 15px;
  background: linear-gradient(#ff6347,#ff6347) bottom;
  background-size: 100% 2px;
  background-repeat: no-repeat;
}

.row {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
}


.about-me {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)),url("../assets/Waihou.png");
  background-position: center;
  background-size: cover;
}

.scroll-down{
  font-size: 0.7em;
  position: absolute;
  font-weight: 300;
  left: calc(50% - 30px);
  top: calc(100vh - 15%);
  
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.scroll-down div {
  color: #fff;
  transform: rotate(-90deg);
}

.arrow-div svg {
  animation: bounce 1.2s infinite ease-out;
}

@keyframes bounce {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(-5px);
  }
}

/* LOADER */

/* Spinner Wrapper */
.loader {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.loader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Spinner */

.loader {
  z-index: 1000;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #333;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}



/* CARDS */

.pcard {
  box-shadow: 0px 0px 8px -3px #000;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.project-titles {
  font-size: 1.5em;
}


.project-links li a {
  color: #fff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px 10px;
}



/* MEDIA QUERIES */

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
  
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .mysec-title {
    font-size: 2.3em;
  }

  .svg-container h1{
    font-size: 3em;
  }

  .project-titles {
    font-size: 0.8em;
  }
  
  .project-links li a {
    color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    padding: 6px 8px;
  }

}